__pycache__/
**/.vscode
wandb/

data/*
!data/train.csv
!data/test.csv
!data/train_test_splitter.ipynb

models/*
!models/meta.pkl
!models/view_model.ipynb

contrastive_activations/*
intervention_logs/*
checkersengine/checkers/synthetic_data16M.txt

checkersengine/checkers/checkers/checkers_test.csv
checkersengine/checkers/checkers/checkers_train.csv

chess_llm_interpretability/models/
chess_llm_interpretability/contrastive_activations/